body, html {
  background-color: #080808;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*-----------------------------N A V B A R-------------------------*/
#navbar {
  width: 100%;
  /*padding:0px;*/
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: #F7F7F7;
  -webkit-box-shadow: 0 3px 15px -6px #000;
          box-shadow: 0 3px 15px -6px #000;
  /*NavBar*/
  z-index: 1;
}

#navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1px 40px;
  color: #0F0F0F;
  font-size: 11px;
  font-family: Arial;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

#navbar ul li:hover {
  color: #00A8FF;
}

#logo {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 25px;
  position: fixed;
  top: 13px;
  left: 10px;
}

/*----------------------------H O M E  V I D---------------------------*/
#homevideo {
  position: relative;
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

#video {
  width: 100%;
}

/*--------------------------S O C I A L-----------------------*/
#social {
  position: fixed;
  top: 40%;
  left: 10px;
  height: 140px;
  width: 50px;
  background-color: #F7F7F7;
  border-radius: 100px;
  z-index: 1;
  -webkit-box-shadow: 0 1px 15px -1px;
          box-shadow: 0 1px 15px -1px;
  opacity: .4;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

#social:hover {
  opacity: .9;
}

#IGLogo, #TwitterLogo, #FacebookLogo {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 5px;
  opacity: .7;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  border-radius: 30px;
}

#IGLogo:hover, #TwitterLogo:hover, #FacebookLogo:hover {
  opacity: 1;
  -webkit-box-shadow: 0 1px 15px -1px black;
          box-shadow: 0 1px 15px -1px black;
}

/*--------------------------A B O U T-----------------------*/
#about {
  font-family: Arial;
  color: #F7F7F7;
  position: relative;
  text-align: center;
  height: 100vh;
}

#about h2 {
  font-size: 40px;
  position: relative;
  top: 65px;
}

/*---------------------------G A M E S------------------------*/
#games {
  color: #080808;
  width: 350px;
  height: 400px;
  border-radius: 3px;
  background-color: #171717;
  position: relative;
  top: 50px;
  margin: 10px;
  display: inline-block;
  /*aligns #games and #VFX horizontally*/
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#games h1 {
  font-size: 15px;
  font-family: Arial;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

#gamesAboutBtn {
  width: 100px;
  height: 30px;
  position: relative;
  background-color: #00ccf0;
  border: 2px solid #00ccf0;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#gamesAboutBtn:hover {
  background-color: #00A9FF;
  background: rgba(0, 17, 19, 0.6);
}

#gamesvid {
  width: 100%;
}

/*--------------------------V F X--------------------------*/
#VFX {
  color: #080808;
  width: 350px;
  height: 400px;
  border-radius: 3px;
  background-color: #171717;
  position: relative;
  top: 50px;
  margin: 10px;
  display: inline-block;
  /*aligns #games and #VFX horizontally*/
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#VFX h1 {
  font-size: 15px;
  font-family: Arial;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

#vfxAboutBtn {
  width: 100px;
  height: 30px;
  position: relative;
  background-color: #00ccf0;
  border: 2px solid #00ccf0;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#vfxAboutBtn:hover {
  background-color: #00A9FF;
  background: rgba(0, 17, 19, 0.6);
}

#VFXvid {
  width: 100%;
}

/*-------------------------C O N T A C T-----------------------*/
#contact {
  font-family: Arial;
  color: #F7F7F7;
  position: relative;
  text-align: center;
  height: 100vh;
}

#contact h2 {
  font-size: 40px;
  position: relative;
  top: 65px;
}

#sentMessage {
  font-size: 15px;
  margin: 0;
  font-family: Roboto;
}

form {
  font-family: Arial;
  font-size: 25px;
  top: 100px;
  bottom: 0;
  position: relative;
}

input[type=text] {
  width: 350px;
  color: black;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 10px;
  margin: 5px 0;
  cursor: auto;
  font-family: Roboto;
  font-size: 15px;
  border: none;
}

input[type=button] {
  width: 350px;
  background-color: #00ccf0;
  color: white;
  padding: 10px 10px;
  margin: 5px 0;
  border: 2px solid #00ccf0;
  cursor: pointer;
  font-size: 25px;
  font-family: Arial;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

input[type=button]:hover {
  background-color: #00A9FF;
  background: rgba(1, 232, 255, 0.05);
}

/*-------------------------F O O T E R-----------------------*/
#footer {
  position: relative;
  text-align: center;
  background-color: black;
  height: 150px;
}

#footer p {
  color: white;
  font-size: 15px;
  display: inline-block;
  position: relative;
  margin: 10px;
}

#LiteLogo {
  height: 50px;
  width: 150px;
  position: relative;
  margin: 10px;
}
/*# sourceMappingURL=styleSheet.css.map */